body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(121,32,153,1) 86%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif; 
}


h1{

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(47, 81, 201, 0.7);

}
#loginForm{
height:300px;
width:300px;
border:2px solid #3b1c9e;
box-shadow:2px 2px 4px rgba(0,0,0,0.4) ;
margin-left: 40%;
font-weight: bold;
color:#fff;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;

border-radius:50px;

}

#loginForm input{

    padding:10px;
    border-radius: 20px;
    background:orangered;
    color:#fff;
    border:none;
    outline:none;
}

.btn{

    padding:8px;
    background:orangered; 
    color:#fff;
    border:none;
    outline:none;
    border-radius: 20px;
    font-weight: bold;
    box-shadow:2px 2px 4px rgba(0,0,0,0.4) ;
}
.btn:hover{

    background: blueviolet;
   cursor:pointer;
}